{{- if .Params.series }}
{{ $local_series := .Params.series}}
{{ $link := .Permalink }}
{{ range $num := (seq 0 ( sub (len $local_series) 1)) }}
{{- $name := index $.Params.series $num }}
<div class="toc">
    <p><a href="" id="series"></a>This is a post in the <b>{{$name}}</b> series:</p>
    {{ $name := $name | urlize }}
    {{ $series := index $.Site.Taxonomies.series $name }}
    <ol class="series">
        {{ range sort $series.Pages "Date" "asc" }}
        <li>{{.Date.Format "Jan 02, 2006"}} -
            {{ if eq .Permalink $link }}
            <u>{{.LinkTitle}}</u>
            {{else}}
            <a href="{{.Permalink}}">{{.LinkTitle}} </a>
            {{end}}
        </li>
        {{end}}
    </ol>
</div>
{{end}}
{{end}}
